.select-simple-option {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;

  @include primary-M-regular;
  color: $color-neutral-900;

  cursor: pointer;

  flex: none;
  order: 1;
  flex-grow: 0;
  padding: 0.8rem 1.6rem;

  border-bottom: 0.1rem solid $color-neutral-50;

  &--icon-hidden {
    visibility: hidden;
  }

  &:hover {
    background: $color-neutral-50;

    .select-simple-option--icon-hidden {
      visibility: visible;
    }
  }

  &:active {
    background: $color-accent-50;

    color: $color-accent-500;
  }
}
