@import "../../styles/base/variables";

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 32px;
  box-shadow: 0px 2px 4px -6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: $color-accent-500;
}

.button:hover {
  background: $color-accent-400;
}

.button:active {
  background: $color-accent-700;
}

.button:disabled {
  opacity: 0.5;
}

.button--state-destructive {
  background: $color-error-500;
}

.button--state-destructive:hover {
  background: $color-error-400;
}

.button--state-destructive:active {
  background: $color-error-700;
}

.button--state-loading {
  opacity: 0.5;
}

.button__text {
  display: flex;
  flex-direction: row;
}

.button__text__icon {
  color: $color-neutral-50;
}

.button__text__label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: $color-neutral-50;
}
