.button-primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3.2rem;

  background: $color-accent-500;

  box-shadow: 0rem 0.2rem 0.4rem -0.6rem rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  border: none;

  &:hover {
    background: $color-accent-400;
  }

  &:active {
    background: $color-accent-700;
  }

  &:focus {
    outline: 0.4rem solid $color-accent-100;
  }

  &:disabled {
    opacity: 0.5;
  }

  &--state-destructive {
    background: $color-error-500;

    &:hover {
      background: $color-error-400;
    }

    &:active {
      background: $color-error-700;
    }

    &:focus {
      outline: 0.4rem solid $color-error-100;
    }
  }

  &--state-loading {
    opacity: 0.5;
  }

  &__text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;

    position: static;
    left: 23.7%;
    right: 23.7%;
    top: 25%;
    bottom: 25%;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0rem 0rem;

    &__icon {
      position: static;
      left: 0%;
      right: 66.2%;
      top: 0%;
      bottom: 0%;

      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 0rem 0.8rem;
    }

    &__label {
      position: static;
      left: 45.07%;
      right: 0%;
      top: 0%;
      bottom: 0%;

      @include primary-M-regular;
      text-align: center;

      color: $color-neutral-50;

      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0rem 0.8rem;
    }
  }
}
