.textfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  &--state-disabled {
    opacity: 0.5;
  }

  &__label {
    @include primary-M-bold;

    color: $color-neutral-900;

    &--state-error {
      color: $color-error-500;
    }

    &--state-success {
      color: $color-success-700;
    }

    &--size-small {
      @include primary-S-regular;
    }

    &--size-large {
      @include primary-L-regular;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: minmax(90%, auto) minmax(0, 10%);
    align-items: center;
    justify-items: start;
    justify-content: stretch;

    background: $colorWhite;

    border: 0.1rem solid $color-neutral-100;
    box-sizing: border-box;

    box-shadow: 0rem 0.4rem 0.8rem -0.8rem black;
    border-radius: 0.8rem;

    &__input {
      background: transparent;
      border: none;

      @include primary-M-regular;

      color: $color-neutral-500;

      padding: 1rem 0.75rem;

      &::placeholder {
        color: $color-neutral-300;
      }

      &:focus {
        outline: none;
        color: $color-neutral-900;
      }

      &--state-error {
        color: $color-error-500;

        &::placeholder {
          color: $color-error-200;
        }

        &:focus {
          outline: none;
          color: $color-error-500;
        }
      }

      &--state-success {
        color: $color-success-700;

        &:focus {
          outline: none;
          color: $color-success-700;
        }
      }

      &--size-small {
        @include primary-S-regular;
      }

      &--size-large {
        @include primary-L-regular;
      }
    }

    &:hover {
      outline: 0.4rem solid $color-neutral-50;
    }

    &:focus {
      color: $color-neutral-900;
      border: 0.1rem solid $color-accent-500;
      outline: 0.4rem solid $color-accent-50;
    }

    &--state-error {
      background: $color-error-50;
      border: 0.1rem solid $color-error-500;
      color: $color-error-500;

      &::placeholder {
        color: $color-error-200;
      }

      &:focus {
        border: 0.1rem solid $color-error-500;
        outline: none;
        color: $color-error-500;
      }
    }

    &--state-success {
      background: $color-success-50;
      border: 0.1rem solid $color-success-500;
      color: $color-success-700;

      &:focus {
        border: 0.1rem solid $color-success-500;
        outline: none;
        color: $color-success-700;
      }
    }

    &__icon {
      justify-self: flex-end;
      padding-right: 0.5rem;
    }
  }

  &__subtext {
    @include primary-S-regular;

    height: 2rem;

    color: $color-neutral-500;

    &--state-error {
      color: $color-error-500;
    }

    &--state-success {
      color: $color-success-700;
    }

    &--size-small {
      @include primary-XS-regular;
      height: 1.6rem;
    }

    &--size-large {
      @include primary-M-regular;
      height: 2.4rem;
    }
  }
}
